# ----------------------------------------------------
# 1. ARXIUS DE TERRAFORM (CAUSA DEL PROBLEMA DE 100MB)
# ----------------------------------------------------
# Aquests fitxers NO s'han de pujar MAI a Git
.terraform/
.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
infra/handler.zip


# ----------------------------------------------------
# 3. ALTRES
# ----------------------------------------------------
*.exe
*.log